@{
    Layout = null;   
}
<link rel="stylesheet" type="text/css" href="/Content/CheckHeader.css" />
<div id="divSelecionarFornecedor"></div>

<script src="http://cdn.sencha.com/ext-4.1.1a-gpl/ext-all.js"></script>
<script type="text/javascript">
    var urlGridFornecedores = '@Url.Action("Listar","Fornecedor")';
</script>
<script src="@Url.Content("~/Scripts/Cadastro/gridTransportadora.js")"></script>
   
