@using BsBios.Portal.Domain.Model
@model IEnumerable<Menu>

<nav id="menu">
    <ul class="menu">

        @foreach (Menu menu in Model)
        {
            <li>@menu.Descricao
                <ul>
                    @foreach(MenuItem menuItem in menu.Itens)
                    {
                        <li>@Html.ActionLink(menuItem.Descricao,menuItem.Action, menuItem.Controller) </li>
                    }
                </ul>
            </li>
        }
    </ul>
</nav>