body {
    font-size: 62.5%;
    font-family: "Segoe UI",Verdana, Helvetica, Sans-Serif;
}

@media only screen and (max-width: 640px) {  
   body {
    font-size:45%;
   }
 }  


.configuracaoDoMonitor {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #efeeef;
    font-size:1.2em

}

.full_table_list {
    color: white;
    width: 100%;
    border-collapse:collapse;
    /*border: black 0 none;*/
    /*background-color: #707070;*/
    font-size: 1.8em;
}

.full_table_list th {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255,255);
}

.full_table_list thead tr, .full_table_list tfoot tr {
    height: 2em;
}

.full_table_list tbody tr:nth-child(even) {
    background-color: #A0A0A0;
}

.full_table_list tbody tr:nth-child(odd) {
    background: #707070;
}
.full_table_list td {
    text-align: center;
}

.full_table_list tfoot {
    background-color: rgb(39, 82, 39)
}

.mensagemErro {
    margin: 0;
}
.material {
    margin-top: 0.2em;
    background-color: #0095cd;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.1em 0.5em;
}

.semaforo{
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    background-size:contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle; /* align the text vertically centered */
    margin: 0 auto;
}

.semaforo-verde {
    background-image: url(/images/icons/led_circle_green.png); 
}

.semaforo-amarelo {
    background-image: url(/images/icons/led-yellow-circle-th.png); 
}

.semaforo-vermelho {
    background-image: url(/images/icons/led_circle_red.png); 
}
.registronaoencontrado {
    font-size: 3em;
    text-align: center;
}


