body {
    background-color: #fff;
    color: #333;
    font-size: 62.5%;
    font-family: "Segoe UI",Verdana, Helvetica, Sans-Serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1024px
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}
a,img {
    border:none
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
}

a:hover {
    background-color: #c7d1d6;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    background-image: url("/Images/banner.png");
    background-repeat: no-repeat;
    -ms-background-size:cover;
    background-size:cover;
    padding-top: 0.5em;
    height: 7.85em !important;
    font-size: 1.4em;
}

#body {
    margin-left: 0.5%;
    width: 78%;
}


#middle {
    margin-top: 0.5%;
}
#middle > div {
    float: left;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

/* menu
----------------------------------------------------------*/
#menuprincipal {
    width: 21.5%;
    padding: 0;
    margin-bottom: 1em;
    font-size: 1.35em;
    font-weight: normal;
    font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    background-color: #6898d0;
    color: #333;
    /*border-top: 0.2em solid #90bade;
    border-bottom: 0.1em solid #90bade;*/
}
#menuprincipal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*border: none;
    border-top: 1px solid #90bade;
    border-bottom: 1px solid #90bade;*/
    font-weight: bold;
}		
#menu li {
    /*border-top: 1px solid #90bade;
    border-bottom: 1px solid #90bade;
    border-collapse: collapse;*/
    margin: 0;
    /*width: auto;*/
    font-weight: normal
}

#menu > li {
    font-weight: bold;
}

#menu li a {
    display: block;
    padding: 0.3em 1em 0.3em 1em;
    /*border-left: 5px solid #8AA1B6;
    border-right: 5px solid #8AA1B6;*/
    background-color: #6898d0;
    color: #fff;
    text-decoration: none;
}
#menu li a:hover, #menu li a.hover_effect {
    /*border-left: 5px solid #800000;
    border-right: 5px solid #800000;*/
    background-color: #FF7C3E;
    color: #fff;
}

@media only screen and (max-width: 1023px) {  
   #body {
       width: 99.8%;
       margin-left: 0.2%;
   }
   #menuprincipal {
       width: 99.8%;
       margin-bottom: 0.5em;
       margin-left: 0.2%;
   }

   #menu {
       float: left;
   }

   #menu li {
       position: relative;
       float: left;
   }

   #menu >  li {
       font-size: 1em;
       padding: 0 0.3em 0 0.3em ;
   }

   #menu > li:hover, #menu > li.hover_effect {
       cursor: pointer;
   }

   #menu li ul {
       display: none;
       position:absolute;
       top: 1.2em;
   }

    #menu > li:hover ul, #menu > li.hover_effect ul {
        display: block
    }

   #menu li ul li {
       display: block;
       width: 20em;
   }

    #menuprincipal li a{
        padding-right: 1em;
    }

 }

@media only screen and (max-width:799px) {
    body {
        font-size: 50%;
    }
    #menu li {
        font-size: 1.2em;
    }
    #menu li a {
        font-size: 0.9em;
    }

}

@media only screen and (max-width:640px) {
    body {
    font-size:45%;
   }
}


/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

/* content */
article {
    float: left;
    width: 70%;
}

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    background-color: #efeeef;
    margin-top: 0;
    font-size: 1.2em;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 1em;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 94%;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }



/* forms */
fieldset {
    /*border: none;*/
    margin: 0;
    padding: 2px 0 1px 8px;
}

fieldset > legend {
    font-size: 12px;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

    fieldset ol li {
        padding-bottom: 5px;
    }


label {
    display: block;
    font-size: 12px;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 12px;
    margin: 5px 0 6px 0;
    padding: 5px;
}

textarea {
    width: 340px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}
input[type="radio"] {
    vertical-align: middle; 
    margin: 0.2em;    
}

.divBotao {
    margin: 0 auto;
    display: block;
    text-align: center;
    clear: both
}
.divBotao input[type="submit"],
.divBotao input[type="button"],
.divBotao input[type="reset"],
.divBotao button,
.divBotao a {
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: 110px;
}

.divBotao a {
    width: 50px;
    color: #d9eef7;
}

/*.divBotao .button:hover {
	text-decoration: none;
}
.divBotao .button:active {
	position: relative;
	top: 1px;
}*/


.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.gray {
	color: white;
	border: solid 1px #cad2d4;
	background: #aaadae;
	background: -webkit-gradient(linear, left top, left bottom, from(#babdbe), to(#aaadae));
	background: -moz-linear-gradient(top,  #babdbe,  #aaadae);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#babdbe', endColorstr='#aaadae');
    cursor: default!important;
}


.botaoMedio {
    width: 140px!important
}

.botaoGrande {
    width: 200px!important
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 1em 2em;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 1em 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    font-size: 12px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.2em;
}

.validation-summary-valid {
    display: none;
}
.elementosCentralizados {
    margin: 0 auto;
    display: block;
    text-align: center
}
.labelEsquerda {
    text-align:left
}
.linha {
    clear: both;
}
.coluna {
    /*width: 380px;*/
    width: 49%;
    display: inline-block;
    float: left;
}
.colunaFiltro {
    width: 49%;
    display: inline-block;
    float: left;
}
.campopequeno {
    width: 150px;
}
.campomedio {
    width: 250px;
} 
.campogrande, select {
    width: 340px;
}
.campoextragrande {
    width: 700px;
}
.campopequenogrid {
    width: 70px;
}

.paginaCadastro {
    width: 100%;
}

.paginaCadastro fieldset {
    margin-left: 0.1em;
    padding-right: 0.1em;
}

.button_edit {
    background-image: url(/images/icons/editar_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    -ms-background-size:cover;
    background-size:cover;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle; /* align the text vertically centered */
}

.button_remove {
    background-image: url(/images/icons/DeleteRed_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    -ms-background-size:cover;
    background-size:cover;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle; /* align the text vertically centered */
}

.button_add {
    background-image: url(/images/icons/add_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    -ms-background-size:cover;
    background-size:cover;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle; /* align the text vertically centered */
}

.button_visualize {
    background-image: url(/images/icons/mag_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    -ms-background-size:cover;
    background-size:cover;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    /*padding-left: 32px; */    /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

.button_schedule {
    background-image: url(/images/icons/schedule_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    -ms-background-size:cover;
    background-size:cover;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle; /* align the text vertically centered */
}

.button_sendmail {
    background-image: url(/images/icons/enviar_email_16.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0 0;  /* equivalent to 'top left' */
    -ms-background-size:cover;
    background-size:cover;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle; /* align the text vertically centered */
}

.button_information {
    background-image: url(/images/icons/information_16.png);
}
.button_download{
    background-image: url(/images/icons/download_16.png);
}
.button_select{
    background-image: url(/images/icons/select_16.png);
}
.button_block {
    background-image: url(/images/icons/bloquear_16.png);
}

.button16 {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    -ms-background-size:cover;
    background-size:cover;
    border: none;
    cursor: pointer;
    height: 1.5em;           /* make this the size of your image */
    width: 1.5em;
    vertical-align: middle;
}


.gradienteVerde{
	background: #c9de96; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 38%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(38%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 38%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 38%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 38%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 38%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-8 */
}

#tituloPagina {
    background-color: #0095cd;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.1em 0.5em;
}
#conteudoPrincipal {
    background-color: #efeeef;
    font-size:1.2em
}
.divFiltros{
    background-color: #efeeef
}
.labelDestaque {
    color: red;
    font-weight: bold;
}
.labelNaLinha {
    display: inline;
}
.gridTotalizador {
    font-size: 14px;
    font-weight: bold;
    background-color: darkturquoise!important;
}


.mensagemErro {
    margin: 0;
}
.aviso {
    color: red;
    font-size: 1.4em;
}

.divGrid {
    font:0.9em Arial,Helvetica,sans-serif!important;
    font-weight: normal;
    line-height: 300%
}

.divGrid table > tbody > tr > td {
    padding-bottom: 0;
    padding-top: 0;
}
.alturaMinima {
    min-height: 150px;
}

.campoDesabilitado {
    background-color: lightgray !important;
    border-color: black !important;
}

.k-grid td {
    line-height: 2.3em!important;
}

.fieldSetPerfil {
    width: 45%;
    height: 24em;
    margin-right: 0.8em;
    display: inline-block
}
.janelaModal .ui-dialog .ui-dialog-content {
    padding: 0
}
.janelaModal  {
    padding: 0!important;
    font-size: 12px!important;
    background-color: #efeeef!important
}

.gridPerfil {
    width: 93%;
    height: 87.5%
}

.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}

.campoDatePicker {
}

.maskcnpj {
    
}
.maskdata {
    
}

.ui-dialog-title {
    font-size: 14px!important;
}
.separador {
    margin-top: 10px;
    background-color: #0095cd;
    color: white;
    font-weight: bold;
    font-size: 14px;
}


