@{
    Layout = null;
}
<style type="text/css">
    .selecionarCotacao {
        width: 800px;     
 }

#gridCotacoes a span {
	display: none;
}

#gridCotacoes a:hover {
    background-color: transparent;
    cursor: pointer
}

#gridCotacoes a:hover span {
	display: block;
	position: absolute;
	top: 30px;
	left: 350px;
	width: 350px;
	margin: 0;
	padding: 10px;
	color: #335500;
	font-weight: normal;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
}

</style>
<div id="divCotacoes" class="divGrid">
    @Html.Hidden("IdProcessoCotacao", ViewData["IdProcessoCotacao"])
    <div id="gridCotacoes" class="selecionarCotacao"></div>
    <div id="erro" class="error">
        @ViewData["erro"]
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        function ajustaEnableDosCamposDaLinha(linha, checkbox) {
            if (!checkbox) {
                checkbox = $(linha).find("input[type=checkbox][name=Selecionada]");
            }
            var selecionado = $(checkbox).is(':checked');
            var campoQuantidade = $(linha).find('input[name=QuantidadeAdquirida]');
            if (selecionado) {
                $(campoQuantidade).removeAttr('disabled');
            } else {
                $(campoQuantidade).val('');
                $(campoQuantidade).attr('disabled', true);
            }
        }
      
        $("#gridCotacoes").kendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        fields: {
                            IdCotacao: { type: "number"},
                            Selecionada: { type: "boolean" },
                            Fornecedor: { type: "string" },
                            QuantidadeDisponivel: { type: "number" },
                            ValorComImpostos: { type: "number" },
                            QuantidadeAdquirida: { type: "number" },
                            ObservacaoDoFornecedor:{type:"string"}
                        }
                    },
                    type: 'json'
                },
                transport: {
                    read: {
                        url: '@Url.Action("ListarCotacoes", "ProcessoCotacaoFrete",new{idProcessoCotacao = ViewData["IdProcessoCotacao"]})',
                        type: 'GET',
                        cache: false
                    }
                }
            },
            groupable: false,
            sortable: false,
            scrollable: true,
            height:200,
            dataBound: function (e) {
                aplicaMascaraQuantidade();
            },
            columns:
            [
                {
                    field: "Selecionada", title: ' ', width: 30,
                    template: '<input type="checkbox" #=(IdCotacao <= 0 ? "disabled":"") # name="Selecionada" #= (Selecionada) ? "checked":"" # ></input>'
                },
                {
                    field: "QuantidadeAdquirida", title: "Quantidade", width: 100,
                    template: '<input type="text" #= (Selecionada ? "":"disabled") # class="campopequenogrid maskquantidade" name="QuantidadeAdquirida" value="#= (QuantidadeAdquirida == null) ? \'\' : QuantidadeAdquirida #" ></input>'
                },
                { field: "Fornecedor", width: 200 },
                {
                    field: "ObservacaoDoFornecedor", title: 'Observações', width: 60,
                    attributes: {
                        style: "text-align: center;"
                    },                    
                    template: function(dataItem) {
                        if (dataItem.ObservacaoDoFornecedor) {
                            return '<a><img src="/Images/icons/information_16.png" alt="Observações"/><span>' + dataItem.ObservacaoDoFornecedor + '</span></a>';
                        } else {
                            return '';
                        }
                    }},
                { field: "QuantidadeDisponivel", title: 'Disponível', width: 80, format:"{0:n3}"},
                { field: "ValorComImpostos", title:'Valor Com Impostos', width: 80, format: "{0:n2}"}
            ]
        });

        $('#gridCotacoes').find('.k-grid-content tbody tr').each(function () {
            ajustaEnableDosCamposDaLinha(this);
        });

        $('#gridCotacoes').find('.k-grid-content tbody').find("input[type=checkbox][name=Selecionada]").die("change");
        $('#gridCotacoes').find('.k-grid-content tbody').find("input[type=checkbox][name=Selecionada]").live("change", function () {
            var linha = $(this).parents('tr:first');
            ajustaEnableDosCamposDaLinha(linha, this);
        });

    });
</script>
