@model dynamic

@{
    ViewBag.Title = "Cadastro de Produtos";
}
<div>
<div style="display: block">
    <div>
        <label>Nome:</label>
        <input type="text"/>
    </div>
    <div>
        <label>Senha:</label>
        <input type="password"/>    
    </div>
    <div>
        <label>Horário</label>
        <input type="time"/>
    </div>
</div>    
</div>