<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="emailDoPortal" type="BsBios.Portal.Infra.Email.EmailDoPortal,BsBios.Portal.Infra.Email" />
  </configSections>
  <emailDoPortal RemetenteSuprimentos="mauroscl@gmail.com" RemetenteLogistica="mauroscl@gmail.com" Servidor="smtp.gmail.com" Porta="587" Usuario="mauroscl" Senha="@#20mscl10@#" Dominio="" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="BsBiosTesteUnitario" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));uid=BSBIOSTESTE;pwd=fusion123;" />-->
    <add name="BsBiosTesteUnitario" connectionString="Data Source=XE;User Id=BsBiosTeste;Password=fusion123;" />
  </connectionStrings>
  <appSettings>
    <add key="TiposDeProdutoDeFrete" value="FERT,NLAG,ROH,YO3R,YOAG,ZROH" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>