@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoImpostosVm
@{
    Layout = null;
}
<fieldset id="fieldSetImpostos">
    <legend>Impostos</legend>
    <span class="aviso">É indispensável que as alíquotas e os valores do impostos sejam informados corretamente</span>
    @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsAliquota, "maskmoeda"),
                              new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsValor, "maskmoeda"))
    @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsStAliquota, "maskmoeda"),
                              new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsStValor, "maskmoeda"))
    @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IpiAliquota, "maskmoeda"),
                              new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IpiValor, "maskmoeda"))
    @Html.LinhaComUmaColuna(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.PisCofinsAliquota, "maskmoeda"))

</fieldset>



