@using BsBios.Portal.Infra.Model
@model IEnumerable<Menu>
@{
    Layout = null;   
}
<nav id="menus">
    <ul id="menu">

        @foreach (Menu menu in Model)
        {
            <li class="hover">@menu.Descricao
                <ul>
                    @foreach(MenuItem menuItem in menu.Itens)
                    {
                        MvcHtmlString linkDoMenu = menuItem.AbrirEmNovaJanela ? 
                            Html.ActionLink(menuItem.Descricao, menuItem.Action, menuItem.Controller, null, new {@class = "abrirEmNovaJanela"}) : 
                            Html.ActionLink(menuItem.Descricao, menuItem.Action, menuItem.Controller);

                        <li>@linkDoMenu </li>
                        
                    }
                </ul>
            </li>
        }
    </ul>
</nav>