@{
    Layout = null;
    var blnExibirBotacaoSelecionarCotacoes = (bool) ViewData["ExibirBotacaoSelecionarCotacao"];
}
<fieldset>
    <legend>Fornecedores</legend>
    <div class="divBotao">
        <input type="button" id="btnSelecionarFornecedores" value="Fornecedores Participantes" class="blue" style="width: 220px"/>
    </div>
    <div id="gridCotacaoFornecedor" class="divGrid" style="clear: both"></div>
    <div id="divFecharProcessoDeCotacaoDeMaterial" class="janelaModal"></div>
</fieldset>
           
@Html.ValidationSummary(true)

<fieldset>
    <legend>Ações</legend>
    <div class="divBotao">
        <input type="button" id="btnAbrirProcesso" value="Abrir" class="blue" />
        @if (blnExibirBotacaoSelecionarCotacoes)
        {
            <input type="button" id="btnSelecionarCotacoes" value="Selecionar Cotação" class="blue" style="width: 175px" />
        }
        <input type="button" id="btnFecharProcesso" value="Fechar" class="blue" />
    </div>
</fieldset>

<div id="divSelecionarFornecedores" class="janelaModal"></div>
<div id="divSelecionarCotacoes" class="janelaModal"></div>


