@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model RelatorioEficienciaNegociacaoFiltroVm
@Html.LinhaComDuasColunas(new ColunaComTextBox<RelatorioEficienciaNegociacaoFiltroVm,DateTime?>(x => x.DataDe,"campoDatePicker maskdata"),
new ColunaComTextBox<RelatorioEficienciaNegociacaoFiltroVm,DateTime?>(x => x.DataAte,"campoDatePicker maskdata"))
<div class="linha">
    <div class="coluna">
        @Html.HiddenFor(x => x.LoginComprador)
        @Html.LabelFor(x => x.Comprador)
        @Html.TextBoxFor(x => x.Comprador,new{ @class="campoDesabilitado campogrande"})
        <input type="button" id="btnSelecionarComprador" class="button_visualize" />        
    </div>
</div>

