@model ProcessoDeCotacaoFechamentoVm
@using BsBios.Portal.Common
@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@{
    Layout = null;
}
<style type="text/css">
    form {
        padding: 5px
    }
</style>
<form id="formFecharProcesso">
    @Html.LinhaComDuasColunas(new ColunaComTextArea<ProcessoDeCotacaoFechamentoVm, string>(x => x.TextoDeCabecalho),
    new ColunaComTextArea<ProcessoDeCotacaoFechamentoVm, string>(x => x.NotaDeCabecalho))
    <fieldset>
        <legend>Gerar no SAP</legend>
        @Html.RadioButtonComLabel("DocumentoDoSap","Pedido",(int) Enumeradores.DocumentoDoSap.Pedido,true)
        @Html.RadioButtonComLabel("DocumentoDoSap","Contrato",(int) Enumeradores.DocumentoDoSap.Contrato,false)
    </fieldset>
</form>

