@using BsBios.Portal.Common
@using BsBios.Portal.UI.Helpers
@model int

@{
    Layout = null;
}
<div class="linha">
    @Html.TextArea("Justificativa")
</div>
<fieldset>
    <legend>Gerar no SAP</legend>
    @Html.RadioButtonComLabel("DocumentoDoSap","Pedido",(int) Enumeradores.DocumentoDoSap.Pedido,true)
    @Html.RadioButtonComLabel("DocumentoDoSap","Contrato",(int) Enumeradores.DocumentoDoSap.Contrato,false)
</fieldset>
<div class="divBotao">
    <input type="button" value="Confirmar" id="btnConfirmar" class="blue"/>
    <input type="button" value="Cancelar" id="btnCancelar" class="blue"/>
</div>

