<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="emailDoPortal" type="BsBios.Portal.Infra.Email.EmailDoPortal, BsBios.Portal.Infra.Email, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <!--<emailDoPortal RemetenteSuprimentos="compras@bsbios.com" RemetenteLogistica="logistica.pf@bsbios.com" Servidor="mail.bsbios.com" Porta="25" Usuario="sistemas" Senha="B5@dm99" Dominio="bsbios.com" HabilitarSsl="false" />-->
  <emailDoPortal RemetenteSuprimentos="mauroscl@gmail.com" RemetenteLogistica="mauroscl@gmail.com" Servidor="smtp.gmail.com" Porta="587" Usuario="mauroscl" Senha="%&amp;20mscl13&amp;%" Dominio="" HabilitarSsl="true" />
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="HostDoServidor" value="localhost"/>
      <add key="Destinatarios" value="mauroscl@gmail.com"/>
    </appSettings>
</configuration>