@model BsBios.Portal.ViewModel.AgendamentoDeCarregamentoCadastroVm
@{
    Layout = null;
    ViewBag.TituloDaPagina = "Agendamento de Carregamento";
}
<div>
    @Html.HiddenFor(x => x.Data)
    @Html.HiddenFor(x => x.CodigoTerminal)
    @Html.HiddenFor(x => x.CodigoMaterial)
    
</div>


