<div class="linha">
    <div class="coluna">
        <label for="login">Login</label>
        <input type="text" name="login" class="campogrande"/>
    </div>
    <div class="coluna">
        <label for="login">Nome</label>
        <input type="text" name="nome" class="campogrande"/>
    </div>
</div>

<div class="linha">
    <div class="coluna">
        <label for="login">E-mail</label>
        <input type="text" name="email" class="campogrande"/>
    </div>
    <div class="coluna">
        <label for="status">Status</label>
        <select name="status">
            <option value="1">Ativo</option>
            <option value="2">Bloqueado</option>
            <option value="0" selected="selected">Todos</option>
        </select>
    </div>
</div>