@{
    Layout = null;
}
<style type="text/css">
    .selecionarCotacao {
        width: 1000px;     
 }

</style>
<div id="divCotacoes">
    @Html.Hidden("IdProcessoCotacao", ViewData["IdProcessoCotacao"])
    <div id="gridCotacoes" class="divGrid"></div>
    <div id="erro" class="error">
        @ViewData["erro"]
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var ivas = new Array();

        function geraDropDownItem(iva, valorSelecionado) {
            var selected = (iva.Codigo == valorSelecionado ? "selected" : "");
            return '<option value="' + iva.Codigo +'"'+ selected + '>'+ iva.Descricao +'</option>';
        }

        geraCombo = function (valorSelecionado, idCotacao) {
            var items = "";
            $.each(ivas, function (index, iva) {
                items += geraDropDownItem(iva, valorSelecionado);
            });

            return '<select name="CodigoIva" class="campopequeno" ' + (idCotacao <= 0 ? "disabled":""  ) +  '>' + items + '</select>';
        };
        
        $.ajax({
            url: '@Url.Action("Listar","Iva")',
            type: 'GET',
            async:false,
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (!data.Sucesso) {
                    Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar os Ivas cadastrados. Detalhe: ' + data.Mensagem);
                    return;
                }
                $.each(data.Registros, function (indexInArray, valueOfElement) {
                    ivas.push(valueOfElement);
                });
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar os Ivas cadastrados. Detalhe: ' + textStatus + errorThrown);
            }
        });
        
        function ajustaEnableDosCamposDaLinha(linha, checkbox) {
            if (!checkbox) {
                checkbox = $(linha).find("input[type=checkbox][name=Selecionada]");
            }
            var selecionado = $(checkbox).is(':checked');
            var campoQuantidade = $(linha).find('input[name=QuantidadeAdquirida]');
            /*var campoIva = $(linha).find('select[name=CodigoIva]');*/
            if (selecionado) {
                $(campoQuantidade).removeAttr('disabled');
                /*$(campoIva).removeAttr('disabled');*/
            } else {
                $(campoQuantidade).val('');
                $(campoQuantidade).attr('disabled', true);
                /*$(campoIva).attr('disabled', true);*/
            }
        }
      
        $("#gridCotacoes").kendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        fields: {
                            IdCotacao: { type: "number"},
                            Selecionada: { type: "boolean" },
                            Fornecedor: { type: "string"},
                            CodigoIva: { type: "string" },
                            ValorLiquido: { type: "number"},
                            ValorComImpostos: { type: "number" },
                            QuantidadeAdquirida: { type: "number" },
                            CondicaoDePagamento: { type: "string" },
                            Incoterm: { type: "string" },
                            ValorIcms: { type: "number" },
                            ValorIcmsSt: { type: "number" },
                            ValorIpi: { type: "number" },
                            ValorPis: { type: "number" },
                            ValorCofins: { type: "number" }
                        }
                    },
                    type: 'json'
                },
                transport: {
                    read: {
                        url: '@Url.Action("ListarCotacoes", "ProcessoDeCotacaoDeMaterial",new{idProcessoCotacao = ViewData["IdProcessoCotacao"]})',
                        type: 'GET',
                        cache: false
                    }
                }
            },
            groupable: false,
            sortable: false,
            dataBound: function (e) {
                aplicaMascaraQuantidade();
            },
            columns:
            [
                {
                    field: 'IdCotacao', hidden:true,
                    template: '<input type="hidden" name="IdCotacao" value="#=IdCotacao #" ></input>'
                },
                {
                    field: "Selecionada", title: ' ', width: 30,
                    template: '<input type="checkbox" #=(IdCotacao <= 0 ? "disabled":"") # name="Selecionada" #= (Selecionada) ? "checked":"" # ></input>'
                },
                {
                    field: "CodigoIva", title: "Iva", width: 160,
                    template:'#= geraCombo(CodigoIva, IdCotacao) #'
                },
                {
                    field: "QuantidadeAdquirida", title: "Quantidade", width: 100,
                    template: '<input type="text" #= (Selecionada ? "":"disabled") # class="campopequenogrid maskquantidade" name="QuantidadeAdquirida" value="#= (QuantidadeAdquirida == null) ? \'\' : QuantidadeAdquirida #" ></input>'
                },
                { field: "Fornecedor", width: 200 },
                { field: "ValorLiquido", title: ' Valor Líquido', width: 80, format: "{0:n2}" },
                { field: "ValorComImpostos", title: 'Líquido + Imp.', width: 80, format: "{0:n2}" },
                { field: "CondicaoDePagamento", title:'Condição', width: 200 },
                { field: "Incoterm", width: 150 },
                { field: "ValorIcms", title: 'ICMS (R$)', width: 80, format: "{0:n2}" },
                { field: "ValorIcmsSt", title: 'ICMS ST (R$)', width: 80, format: "{0:n2}" },
                { field: "ValorIpi", title: 'IPI (R$)', width: 80, format: "{0:n2}" }
            ]
        });

        $('#gridCotacoes').find('.k-grid-content tbody tr').each(function () {
            ajustaEnableDosCamposDaLinha(this);
        });

        $('#gridCotacoes').find('.k-grid-content tbody').find("input[type=checkbox][name=Selecionada]").die("change");
        $('#gridCotacoes').find('.k-grid-content tbody').find("input[type=checkbox][name=Selecionada]").live("change", function () {
            var linha = $(this).parents('tr:first');
            ajustaEnableDosCamposDaLinha(linha, this);
        });

    });
</script>
